<!-- Header -->
<div class="header-page">
  <h1 class="title">{{ datosInicio!.home.header.title }}</h1>
  <p class="subtitle">{{ datosInicio!.home.header.subtitle }}</p>
</div>

<!-- Introducción -->
<div class="introduction">
  <p>{{ datosInicio!.home.introduction.paragraph }}</p>
</div>

<!-- Call-to-Action -->
<div class="cta">
  <app-botones [tipoBoton]="TipoButton.PROYECTOS" [action]="goToProyectos.bind(this)"></app-botones>
  <app-botones [tipoBoton]="TipoButton.CONTACTO" [action]="goToContacto.bind(this)"></app-botones>
</div>

<!-- Habilidades Destacadas -->
<div class="skills">
  <h2>{{ datosInicio!.home.skills.title }}</h2>
  <div class="skills-grid">
    <div *ngFor="let skill of datosInicio!.home.skills.list " class="skill-card">
      <i [className]="skill.class"></i>
      <p>{{ skill.text }}</p>
    </div>
  </div>
</div>

<!-- Proyectos Destacados -->
<div class="projects">
  <h2>{{ datosInicio!.home.projects.title}}</h2>
  <div class="projects-list">
    <div *ngFor="let project of datosInicio!.home.projects.list" class="project-card">
      <h3>{{ project.name }}</h3>
      <p>{{ project.descripcion}}</p>
      <div class="tech-icons">
        <span *ngFor="let tech of project.tecnologies">{{ tech }}</span>
      </div>
    </div>
  </div>
</div>


