
<!-- Header -->
<div class="header-page">
  <h1 class="title">🤷🏻‍♂️ Sobre mi 🤷🏻‍♂️</h1>
  <p class="subtitle">Conoceme un poco mejor</p>
</div>


<div class="sobremi d-flex s row justify-content-center">
  <div class="row d-flex justify-content-between align-items-center flex-column col-5 ">
    <section class="col-6 d-flex align-items-center justify-content-center flex-column  text-center">
      <h2>Conoceme</h2>
      <p >Soy un programador curioso y resolutivo con 4 años de experiencia en el desarrollo de aplicaciones web y móviles. Mi especialidad son tecnologías como Angular y Spring/Java, con enfoque en REST APIs y bases de datos. Además, disfruto de aplicar lo que aprendo en proyectos reales, buscando siempre la eficiencia y calidad.</p>
    </section>
    <section class="col-6 d-flex align-items-center justify-content-center">
      <div>
        <img src="imagenes/yo.jpg" class="sobre-mi-img"/>
      </div>
    </section>
  </div>

  <div class="row d-flex justify-content-between align-items-center flex-column col-5 ">
    <section class="col-6 d-flex align-items-center justify-content-center flex-column  text-center">
      <h2>Hobbies</h2>
      <p >Fuera del trabajo, disfruto de la fotografía, la edición de video y la cocina. Estas actividades también me inspiran en la programación, ya que me enseñan a buscar resultados eficientes y de calidad. Además, viajar es mi forma favorita de desconectar y recargar energías.</p>
    </section>

    <section class="col-6 d-flex align-items-center justify-content-center">
      <div>
        <img src="imagenes/photo-collage.png.png" class="sobre-mi-img"/>
      </div>
    </section>
  </div>

</div>
