.sobremi > div{
  margin-bottom: 70px;
}
.left{
  animation: sectionFadeInLeft 2s ease-in-out;
}

.right{
  animation: sectionFadeInRight 2s ease-in-out;
}
.sobremi{
  animation: fadeIn 1.5s ease-in-out;

}

.sobre-mi-img{
  width: 300px;
  height: 300px;
  border-radius: 30px;
  border: 1px solid #5f3711;
}
.sobre-mi-hobbie{
  width: 200px;
  height: 200px;
  border-radius: 30px;
  border: 1px solid #5f3711;
}



/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
