<div class="parent-proyectos">
  <!-- Header -->
  <div class="header">
    <h2 class="title">📝 Proyectos 📝</h2>
    <p class="subtitle">Aqui podras ver mis proyectos actuales, en los que trabajo y/o trabajaré</p>
  </div>


  <div class="busqueda">
    <input type="text" [class]="mostrarBusqueda ? 'cta-btn on ' : 'cta-btn off'" [value]="mostrarBusqueda ? '' : 'Buscar 🔍'" (focusin)="mostrarEsconderBusqueda(true)" (focusout)="mostrarEsconderBusqueda(false); buscarProyectos($event)" (input)="buscarProyectos($event)"/>

  </div>
  <div class="proyectos" *ngIf="proyectos.length != 0">
    <div class="proyecto" *ngFor="let proyecto of proyectos" >
      <app-proyecto-card [proyecto]="proyecto"></app-proyecto-card>
    </div>
  </div>
  <div class="noProjects" *ngIf="proyectos.length == 0">
    <h2>No hay proyectos 🥱</h2>
  </div>


</div>
