.parent-proyectos{
  min-height: 100vh;
}
/* Header */
.header {
  text-align: center;
  padding: 50px 20px;
  background-color: #f6f6e2;
  border-bottom: 1px solid #e2d5c1;
  animation: fadeIn 1s ease-in-out;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  animation: slideInLeft 1s ease-out;
}

.title-project{
  display: flex;
  align-items: start;
  gap: 10px;
}

.title-project img{
  width: 50px;
  height: 50px;
}
.subtitle {
  font-size: 1.5rem;
  color: #d4c098;
  animation: slideInRight 1s ease-out;
}

.proyectos {
  display: flex;
  width: 100%;
  gap: 80px 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.proyecto {
  width: 25%;
  border: 1px #5f3711 solid;
  border-radius: 10px;
  padding: 20px;
  animation: fadeIn 1s ease-in-out;
  position: relative;
  padding-bottom: 80px;
}

.proyecto:hover {
  transition: 0.3s ;
  box-shadow: 1px 1px 2px #5f3711;
  transform: scale(1.005) translate(2px, 4px);
}

.inputBusqueda {
  width: 50%;
  opacity: 1;
  transition: 1s all;
  font-size: 20px;
  color: #5f3711;
  background: transparent;
  border: none;
  border-bottom: 1px solid #5f3711;
  font-weight: lighter;
  font-style: italic;
}

.inputBusqueda:focus {
  outline: none;
}

.noProjects {
  text-align: center;
  margin-top: 100px;
  animation: fadeIn 1s ease-in-out;
}

.busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 80%;
  flex-direction: column;
  margin-bottom: 50px;
  animation: fadeIn 1s ease-in-out;
}

.cta-btn {
  width: 250px;
  height: min-content;
  background: #5f3711;
  color: white;
  text-align: center;
  border-radius:10px;
  border: none;
  transition: all 0.5s;
  font-size: 1.2rem;
  padding: 20px;
  margin-top: 60px;
}
.cta-btn:focus{
  outline: none;
}
.cta-btn.on{
  border-radius: 0px;
  background: transparent;
  border-bottom: 1px solid black;
  color: #5f3711;
  width: 500px;
}

.cta-btn.off{
  color: white;
  width: 250px;
}

.cta-btn.verproyecto{
  position: absolute;
  bottom: -20px;
  right: 10px;
  width: 200px;
  padding: 10px;
}
.techs{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.techs span{
  background: #d4c098;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.estado{
  background-color: #5f3711;
  color: #d4c098;
  max-width: 100px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: -20px;
  right: 10px;
}
.cta-btn:hover {
  background-color: #d4c098;
}


.oculto {
  transition: 1s all;
  width: 0px;
  opacity: 0;
}

.separador{
  width: 70%;
  border: 1px solid #5f3711;
  opacity: 0.1;
  margin-top: 15px;
  margin-bottom: 15px ;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Pantallas pequeñas y móviles */
@media (max-width: 576px) {
  /* Estilos para pantallas pequeñas y móviles */
  .proyecto {
    width: 70%;
  }
}

/* Tablets en modo vertical (pantallas medianas) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Estilos para tablets */
  .proyecto {
    width: 70%;
  }
}

/* Tablets en modo horizontal o pantallas pequeñas (más grandes que móviles) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Estilos para pantallas medianas */
  .proyecto {
    width:40%;
  }
}

/* Laptops y pantallas grandes */
@media (min-width: 993px) and (max-width: 1200px) {
  /* Estilos para laptops */
  .proyecto {
    width: 40%; /* Ajusta según la necesidad */
  }
}

/* Pantallas extra grandes, monitores grandes */
@media (min-width: 1201px) {
  /* Estilos para pantallas extra grandes */
  .proyecto {
    width: 25%; /* Ajusta según la necesidad */
  }
}
