<div class="main">

  <div class="logos">
    <div class="logo">
      <img src="imagenes/Typescript_logo_2020.svg.png" />
      <div class="info-tecnologia">
        “ Tipado fuerte, aplicaciones fuertes ”
      </div>
    </div>
    <div class="logo">
      <div class="info-tecnologia">
        “ Vanguardia en aplicaciones SPA”
      </div>
      <img src="imagenes/Angular_full_color_logo.svg.png" />
    </div>
  </div>
  <h1 class="typing">👨🏻‍💻 PLDev - Desarrollador Web y Java 👨🏻‍💻 <span>&#160;</span></h1>
  <div class="logos">
    <div class="logo">
      <img src="imagenes/java-logo-1.png" />
      <div class="info-tecnologia">
        “ Código seguro y eficiente ”
      </div>
    </div>
    <div class="logo">
      <div class="info-tecnologia">
        “ Conectando el backend al futuro ”
      </div>
      <img src="imagenes/img.icons8.com.png" />
    </div>
  </div>
</div>
