/* Estilos generales para .header y .header-items */
.header,
.header-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  top: 0;
  height: 150px;
}

.header-items {
  width: 100%;
}

/* Enlace en .header-items */
.header-items a {
  color: rgba(177, 158, 116, 0.73);
  text-decoration: none;
  transition: color 0.5s ease; /* Mueve la transición común aquí */
}

/* Estilos para .header-item */
.header-item {
  border-bottom: 0 solid transparent;
  font-weight: bold;
  font-size: 20px;
  margin: 0 100px; /* Simplificado */
  transition: 1s; /* Mueve el transition aquí si es común */
}

.header-item img {
  width: 70px;
}

/* Hover en .header-item */
.header-item:hover a {
  transition: 0.3s all;
  color: #5f3711;
}

/* Activo en los enlaces */
.header-items a.active {
  color: #5f3711;
}

.logoPrimer {
  display: none;
}

.toggle-checkbox {
  display: none;
}

/* --- Media Queries --- */

@media (max-width: 576px) {
  .header {
    height: auto;
  }

  .header-items {
    flex-direction: column;
  }

  .header-items a {
    font-size: 30px;
  }

  .logoPrimer {
    display: block;
  }

  .logoSegun {
    display: none;
  }

  /* Transición para .notLogo */
  .header-items .notLogo {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease;
    opacity: 0;
    visibility: hidden;
  }

  /* Mostrar .notLogo cuando toggle-checkbox está marcado */
  .toggle-checkbox:checked ~ .header-items .notLogo {
    max-height: 100px;
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 576px) and (max-width: 768px),
(min-width: 768px) and (max-width: 992px),
(min-width: 992px) and (max-width: 1200px) {
  .header-item {
    text-align: center;
    width: 100%;
    margin: 5px 30px; /* Generaliza margen para todos los tamaños */
    padding-top: 10px; /* Mantenemos este para pantallas más pequeñas */
  }
}

/* Pantallas grandes */
@media (min-width: 1200px) {
  /* Estilos específicos para pantallas grandes */
}
