<div class="header">
  <input type="checkbox" id="toggleNotLogo" class="toggle-checkbox">

  <div class="header-items">
    <div class="header-item logoPrimer">
      <label for="toggleNotLogo">
        <i class="fa fa-bars"></i>
      </label></div>
    <div class="header-item notLogo" ><a [routerLink]="['/inicio']" [class.active]="isRouteActive('/inicio')">Inicio</a></div>
    <div class="header-item notLogo"><a [routerLink]="['/proyectos']" [class.active]="isRouteActive('/proyectos')">Proyectos</a>
    </div>
    <div class="header-item logoSegun">
      <a [routerLink]="['/']" [class.active]="isRouteActive('/')">
        <img src="logos/logo_pldev.svg" alt="Logo PLDEV">
      </a></div>
    <div class="header-item notLogo"><a [routerLink]="['/sobremi']" [class.active]="isRouteActive('/sobremi')">Sobre Mi</a>
    </div>
    <div class="header-item notLogo"><a [routerLink]="['/contacto']" [class.active]="isRouteActive('/contacto')">Contacto</a>
    </div>
  </div>
</div>


