@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
  background-color: #f6f6e2;
  color: #5f3711;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0px;
}


/* Header  PAGINAS*/
.header-page {
  text-align: center;
  padding: 50px 20px;
  border-bottom: 1px solid #e2d5c1;
  animation: fadeIn 1s ease-in-out;
  margin: 10px;
}

.title {
  margin: 0px;
  font-size: 2.5rem;
  margin-bottom: 10px;
  animation: slideInLeft 1s ease-out;
}

.subtitle {
  font-size: 1.5rem;
  color: #917b4b;
  animation: slideInRight 1s ease-out;
}


/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes sectionFadeInLeft {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes sectionFadeInRight {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
